*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.nav{
    position: fixed;
}
.toast-msg{
    text-align: right;
}
.carousel-item img{
    width: 1440px;
    height: 584px;
}

.package-heading{
    text-align: center;
}
.package{
    margin: 50px 10px;
}
.btn{
    background-color: aliceblue;
    color: blue;
}
.card-text{
font-size: 15px;
font-weight: 400;
}
.card{
    border: 0;
}
.card-style{
    background-color: #3F87F5;
    color: white;
    border-radius: 20px;
    padding-bottom: 30px;
}
.styl-btn{
    margin-left: 70px;
}

div.relative {
    position: relative;
    font-size: 15px;
    color: white;
   
  }
  
  div.absolute {
    position: absolute;
    top: -15px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: tomato;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app{
      text-align: right;
  }
  .get-app{
      margin-right: 100px;
  }
.img{
    width: 135px;
    height: 100px;
}
.footer{
    background-color: black;
    color: white;
    padding: 20px 40px;
}
  @media (max-width: 800px) {
    .question{
      flex-direction: row;
    }
    .accordion-body{
        width: 100%;
        
    }
  } 

  @media (max-width: 800px) {
    .review-site {
      flex-direction: row;
      width: 100%;
     
    }
  } 